{% extends "./base.html" %}

{% block title %}Gestion de Cursos{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <h2>Nuevo Registro</h2>
        <div class="card">
            <!--Action hacia donde se va a enviar csrf_token para seguridad-->
            <form action="/registroRecibido/" method="POST">
                {% csrf_token %}
                <div class="card-body">

                    <div class="form-group" style="margin-bottom: 10px; display: flex; gap: 5px;">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo"
                            minlength="6" maxlength="6" required>

                        <input type="date" id="fecha" name="fecha" class="form-control" required>

                        <input type="time" id="hora" name="hora" class="form-control" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px; display: flex; gap: 5px;">
                        <input type="text" id="institucion" name="institucion" class="form-control"
                            placeholder="Institución" minlength="10" maxlength="50" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px;">

                        <input type="text" id="referencia" name="referencia" class="form-control"
                            placeholder="Referencia" minlength="10" maxlength="50" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px;">
                        <input type="text" id="remitente" name="remitente" class="form-control" placeholder="Remitente"
                            minlength="10" maxlength="50" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px;">

                        <input type="text" id="cargoRemitente" name="cargoRemitente" class="form-control"
                            placeholder="Cargo" minlength="10" maxlength="50" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 10px; display: flex; gap: 5px;">
                        <input type="number" id="fojas" name="fojas" class="form-control" placeholder="Fojas" required>
                        <input type="text" id="estado" name="estado" class="form-control" placeholder="Estado"
                            minlength="10" maxlength="50" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px;">

                        <input type="text" id="observacion" name="observacion" class="form-control"
                            placeholder="Observacion" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group" style="text-align: center; margin-bottom: 15px;">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <div class="table-responsive">
            <h3>Registros</h3>
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #87CEEB; color: white;">
                        <th>#</th>
                        <th>Registro</th>
                        <th>Referencia</th>
                        <th>Institucion</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in documentos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ c.codigo}}</td>
                        <td>{{ c.referencia}}</td>
                        <td>{{ c.institucion}}</td>
                        <td><a href="edicionRecibido/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarRecibido/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    // Esperar 5 segundos (5000 ms) antes de desaparecer el mensaje
    setTimeout(function() {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(() => {
                alert.style.display = 'none';
            }, 150); // El tiempo que toma la transición
        });
    }, 5000);
</script>

{% endblock %}